@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

#info{
  font-family: Verdana;
  font-size: 11px;
  color: white;
  position: relative;
  padding-top: 10px;
  top: 20px;
  right: -140px;
}
